

.Entry-div {
	display: inline-flex;
	margin-top:20px;
	
}
.Entry-div input{
	width:300px;
	padding:10px;
}
div label{
	width:150px;
}
.Button-div input{
	background-color:royalblue;
	color:white;
	padding:10px;
}
